@import url("https://fonts.googleapis.com/css?family=Pacifico");
.container-auth {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative; }
  @media (max-width: 360px) {
    .container-auth {
      height: 95vh; } }
  .container-auth .subtitle {
    font-size: 16px;
    color: #999;
    margin-top: 10px; }
  .container-auth .title {
    font-family: pacifico;
    color: #FF294F;
    font-size: 41px; }
  .container-auth .btn-signin {
    min-width: 240px;
    height: 43px;
    background: #FF294F;
    border-radius: 30px;
    margin-top: 180px;
    color: white; }
  .container-auth .btn-signup {
    min-width: 240px;
    height: 43px;
    border-radius: 30px;
    margin-top: 15px;
    color: #FF294F;
    border: solid #FF294F 1px; }
  .container-auth .trademark {
    width: 240px;
    font-size: 9px;
    color: #999;
    text-align: center;
    position: absolute;
    bottom: 30px; }

.form-control {
  border-radius: 0;
  border: none;
  border-bottom: solid 1px #f1f1f1; }

.container-login {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .container-login form {
    margin-top: 100px; }
    .container-login form label {
      color: #999999;
      font-size: 14px; }
    .container-login form .btn-login {
      min-width: 240px;
      height: 43px;
      background: #FF294F;
      border-radius: 30px;
      margin-top: 50px;
      color: white; }
    .container-login form .btn-login-gmail {
      min-width: 240px;
      height: 43px;
      border-radius: 30px;
      margin-top: 0px;
      color: #FF294F;
      border: solid 1px #FF294F; }
